<div class="row">
  <div class="small-12 medium-9 medium-centered large-6 large-centered columns">
    <br>
  <h1>Cafe Login</h1>
  <%= form_for(:cafe_session, url: cafes_sessions_path) do |f| %>
    <%= f.label :username%>
    <%= f.text_field :username, value: @cafe.username%>
    <%= flash[:auth_error] %>

    <%= f.label :password %>
    <%= f.password_field :password%>
    <%= flash[:password_error] %>

    <%= f.submit "Log in", :class=>'button round' %>
  <% end %>
  </div>
</div>

