<h1>Log in</h1>

<%= form_for(:cafe_session, url: cafes_sessions_path) do |f| %>
  <%= f.label :username%>
  <%= f.text_field :username, value: @cafe.username%>
  <%= @user.errors[:username].first %>

  <%= f.label :password %>
  <%= f.password_field :password%>

  <%= f.submit "Log in" %>
<% end %>


