<br><h1>Edit <%= @user.username %>'s Profile</h1>
<br>
<h3 class="subheader">Change Profile Picture</h3>
<br>
<%= form_for(:user, method: :put, url: user_path(@user)) do |f|%>
  <%= f.hidden_field(:picture_cache)%>
  <div class="upload"><span id="upload_display" class="label">No File Chosen</span><%= f.file_field(:picture, :id=>"upload_input")%></div>
  <br>
  <%= f.submit "Upload Picture", :class => "button tiny round" %>
<%end%>

<script type="text/javascript">
//display selected file in dropzone
var input  = document.getElementById('upload_input');
var display = document.getElementById('upload_display')

input.addEventListener('change', function () {
   var filename = this.value.substring(12)
   display.innerText = filename;
});
</script>

<%= cloudinary_js_config %>
