 <div class="Sign_Form">
  <h1>Register</h1>
  <%= form_for(@user) do |f| %>
    <p> First Name:</br> <%= f.text_field :first_name, value: @user.first_name%> </p>
    <p> Last Name:</br> <%= f.text_field :last_name, value: @user.last_name%> </p>
    <p> Email:</br> <%= f.text_field :email, value: @user.email%> </p>
    <p> Phone: </br> <%= f.text_field :phone, value: @user.phone%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <%= f.submit :Register %>
  <% end %>
</div>
