<div class="row">
  <div class="small-12 medium-9 medium-centered large-6 large-centered columns">
    <br>

  <h1>Register</h1>

  <%= form_for(@user) do |f| %>
    <%= f.label :first_name, "First Name:" %>
    <%= f.text_field :first_name, value: @user.first_name%>
    <%= @user.errors[:first_name].first %>

    <%= f.label :last_name, "Last Name:" %>
    <%= f.text_field :last_name, value: @user.last_name%>
    <%= @user.errors[:last_name].first %>

    <%= f.label :email, "Email:" %>
    <%= f.text_field :email, value: @user.email%>
    <%= @user.errors[:email].first %>

    <%= f.label :phone, "Phone:" %>
    <%= f.text_field :phone, value: @user.phone%>
    <%= @user.errors[:phone].first %>

    <%= f.label :password, "Password:" %>
    <%= f.password_field :password%>
    <%= f.submit :Register, :class=>"button round" %>
  <% end %>
  </div>
</div>


