<div class="row">
  <div class="large-12 columns">
    <br>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns"><hr></div>

  <div class="large-5 columns">
    <%= cl_image_tag(@user.picture, :width => 400, :height => 400, :crop => :fill) %>
  </div>

  <div class="large-5 columns">
    <br>

    <ul class="no-bullet">
      <li>username: <%= @user.username %></li>
      <li>email: <%= @user.email %></li>
      <li>phone: <%= @user.phone %></li>
    </ul>

    <div class="panel">
      <h5>Send coffee to a friend</h5>
      <h6 class="subheader">They would love to hear from you, you attractive person you.</h6>
      <%= link_to "View Cafés", root_path, class: "small button"  %>
    </div>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">

  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#given">Given Coffee Gifts</a>
      <div id="given" class="content active">
        <%= render "coffee_gifts/given_coffee_gift" %>
      </div>
    </li>
    <li class="accordion-navigation">
      <a href="#received">Received Coffee Gifts</a>
      <div id="received" class="content">
        <%= render "coffee_gifts/received_coffee_gift" %>
      </div>
    </li>
  </ul>

  </div>
</div>









