<div class="row">
  <div class="large-12 columns">
    <br>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<div class="row">
  <hr>

  <div class="large-5 columns">
    <%= cl_image_tag(@user.picture, :width => 400, :height => 400, :crop => :fill) %>
    <hr>
    <%= link_to "Edit Your Profile", edit_user_path(@user), class: "small button" %>
  </div>

  <div class="large-5 columns">
    <br>

    <ul class="no-bullet">
      <li>username: <%= @user.username %></li>
      <li>email: <%= @user.email %></li>
      <li>phone: <%= @user.phone %></li>
    </ul>

    <div class="panel">
      <h5>Send coffee to a friend</h5>
      <h6 class="subheader">They would love to hear from you, you attractive person you.</h6>
      <%= link_to "View Cafés", root_path, class: "small button"  %>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">

      <% if @user.unredeemed_coffee_gifts.length > 0 %>
        <hr>
        <h4>Unredeemed Coffee:</h4>
        <br>
      <% end %>

      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">

      <% @user.unredeemed_coffee_gifts.each do |gift| %>
      <li>
        <%= link_to image_tag("http://placehold.it/200x150&text=[#{gift.name}]"), coffee_gift_path(gift) %>
      </li>
      <%end%>
      </ul>

  </div>
</div>


<div class="row">
  <div class="large-12 columns">

      <% if @user.redeemed_coffee_gifts.length > 0 %>
        <hr>
        <h4>Redeemed Coffee:</h4>
        <br>
      <% end %>

      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">

      <% @user.redeemed_coffee_gifts.each do |gift| %>
      <li>
        <%= link_to image_tag("http://placehold.it/200x150&text=[#{gift.name}]"), coffee_gift_path(gift) %>
      </li>
      <%end%>
      </ul>

  </div>
</div>




