<div class="row">
  <div class="large-12 columns">
    <br>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns"><hr></div>

  <div class="large-5 columns">
    <%= cl_image_tag(@user.picture, :width => 400, :height => 400, :crop => :fill) %>
  </div>

  <div class="large-5 columns">
    <br>

    <ul class="no-bullet">
      <li>username: <%= @user.username %></li>
      <li>email: <%= @user.email %></li>
      <li>phone: <%= @user.phone %></li>
    </ul>

    <div class="panel">
      <h5>Send coffee to a friend</h5>
      <h6 class="subheader">They would love to hear from you, you attractive person you.</h6>
      <%= link_to "View Cafés", root_path, class: "small button"  %>
    </div>
  </div>
</div>


<div class="small-12 columns">
  <div class="row">
    <hr>
    <%= link_to "given", "#", class: "profile-filter-tag" %>
    <%= link_to "received", "#", class: "profile-filter-tag" %>
  </div>

  <br>
  <div class="row">
    <div class="given-coffees-container">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 coffee-gifts-container">
      <%= render "coffee_gifts/given_coffee_gift" %>
    </ul>
    </div>
    <div class="received-coffees-container">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 coffee-gifts-container">
      <%= render "coffee_gifts/received_coffee_gift" %>
    </ul>
    </div>
  </div>
</div>






