<div class="row">
  <div class="large-12 columns">
    <br>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<div class="row">
  <hr>

  <div class="large-5 columns">
    <%= cl_image_tag(@user.picture, :width => 400, :height => 400, :crop => :fill) %>
  </div>

  <div class="large-5 columns">
    <br>

    <ul class="no-bullet">
      <li>username: <%= @user.username %></li>
      <li>email: <%= @user.email %></li>
      <li>phone: <%= @user.phone %></li>
    </ul>

    <div class="panel">
      <h5>Send coffee to a friend</h5>
      <h6 class="subheader">They would love to hear from you, you attractive person you.</h6>
      <%= link_to "View Cafés", root_path, class: "small button"  %>
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 coffee-gift-container">
      <hr>
      <%= link_to "given", user_coffee_gifts_filter_path(@user) %>
      <%= link_to "received", user_coffee_gifts_filter_path(@user) %>
      <%= render "coffee_gift", locals: @user %>
    </ul>
  </div>
</div>

<%= cloudinary_js_config %>


