<div id="login-modal" class="popupContainer" style="display:none">
  <header class="popupHeader">
    <span class="header_title">Log in</span>
    <span class="modal_close"><i class="fa fa-times"></i></span>
  </header>  

    <section class="popupBody">
      <div class="user_login">
     <%= form_for(:user_session, url: users_sessions_path) do |f| %>

      <p><%= f.label :username %><br>
      <%= f.text_field :username%></p>

      <p><%= f.label :password %><br>
      <%= f.password_field :password%></p>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    </div>
<!--       <p>Already a member? Log in</p> -->
    </section>
</div>