
<div id="login-modal" class="popupContainer">

  <div id="user-login">
    <header class="popupHeader">
      <h3 class="header_title">Log In</h3>
      <div class="modal_close"><%= image_tag("grey-close.png") %></div>
    </header>  

    <section class="popupBody">
     <%= form_for(:user_session, url: users_sessions_path) do |f| %>
     <%= f.text_field :email, placeholder: "Email" %></p>
     <%= f.password_field :password, placeholder: "Password"%></p>
     <%= f.submit "Log in", class: "button round" %>
     <% end %>   
     <p id="login-as-cafe">Log in as a cafe</p> 
   </section>
 </div>    

 <%= render "welcome/cafe_login" %>
  
</div>