<!-- consider refactoring to reduce dependency on flash  -->

<% if flash[:error] %>
  <h1><%=flash[:error]%></h1>
<% elsif flash[:notice] %>
  <h1><%=flash[:notice]%></h1>

  <h2>Here are the details of your purchase: </h2>

  <% if @coffee_gift.receiver %>
    <p>Sent To: <%=@coffee_gift.receiver.full_name%></p>
  <% elsif @coffee_gift.charitable %>
    <p>Sent To: some lucky person!</p>
  <% else %>
    <p>Sent To: <%=@coffee_gift.phone%></p>
  <% end %>

  <p>Good for one <%=@coffee_gift.name%> at <%=@cafe.name%></p>

  <p>Pick up at: <%=@cafe.address %></p>
<% end %>





