<div class="row">
  <div class="small-12 medium-9 medium-centered large-6 large-centered columns">
    <br>
    <h1>Send Some Coffee from <%=@cafe.name%>!</h1>

<%= form_for @coffee_gift, url: cafe_coffee_gifts_path(@cafe) do |f| %>

    <%= f.collection_select(:receiver, @receivers, :id, :combined_value, include_blank: true)  %>
    <%= @coffee_gift.errors[:reciever].first %>

    <p>OR</p>

    <%= f.text_field :phone, placeholder: "Enter phone number", maxlength: "10" %><br/>
    <%= @coffee_gift.errors[:phone].first %>

    <%= f.collection_select(:menu_item, @menu_items, :id ,:combined_value, include_blank: true)  %>
    <%= @coffee_gift.errors[:menu_item].first %>

    <%= f.text_area :message, size: "30x6", placeholder: "Include a personal note!"  %><br/>

    Payment Information
    <%= fields_for :cc do |cc| %>
      <%= cc.text_field :num, placeholder: "cc number: (XXXXXXXXXXXXXXXX)", maxlength: "16"%>
      <%= cc.text_field :exp_date, placeholder: "cc expiration date: (MM/YY)", maxlength: "5"%>
    <%end%>

    <br>
    <%= f.submit "Send coffee", :class=>"button round" %>
    <% end %>
</div>
</div>


