<h1>Send Some Coffee from <%=@cafe.name%>!</h1>

<%= form_for @coffee_gift, url: cafe_coffee_gifts_path(@cafe) do |f| %>
	<%= f.label :receiver, "Send to: " %>
	<%= f.text_field :receiver %><br/>
	<%= f.label :menu_item, "Menu Items: "%>
	<%= f.collection_select(:menu_item, @menu_items, :id ,:name) %>
	<%= f.label :message, "Include a personal note: "%><br/>
	<%= f.text_area :message, size: "30x6"  %><br/>
	<%= f.submit "Send coffee" %>
<% end %>	