<% if current_user.received_coffee?(@coffee_gift) %>

  <% if @coffee_gift.redeemed %>
  <div class="row">
      <div class="small-12 columns">
        <ul class="pricing-table">
          <li class="price"> This gift has been redeemed!</li>
        </ul>
      </div>
  </div>
  <% else %>
  <div class="row">
      <div class="small-12 columns">
      <ul class="pricing-table">
        <li class="price"> Yay! You received a <span class="bold"><%=@coffee_gift.name%></span> from <span class="bold"><%=@coffee_gift.giver.first_name%> <%=@coffee_gift.giver.last_name%></span></li>
        <li class="price">Your voucher code is: <kbd><%=@coffee_gift.redemption_code%></kbd></li>
        <li class="price"> You can pick it up at <span class="bold"><%=@cafe.name%></span>
          <hr>
            <div style="height:350px;width:100%" id="map"></div>
                  <input id="address" type="hidden" value="<%=@cafe.address%>">
        </li>
        <li class="bullet-item"><%=@cafe.address %></li>
      </ul>
    </div>
  </div>
  <% end %>

<% else %>

  <div class="row">
      <div class="small-12 columns">
      <ul class="pricing-table">
        <li class="price"> You sent a <span class="bold"><%=@coffee_gift.name%></span> to <span class="bold"><%=@coffee_gift.receiver.first_name%> <%=@coffee_gift.receiver.last_name%></span> on <span class="bold"><%=@coffee_gift.created_at.strftime("%B %d, %Y")%></span></li>
      </ul>
    </div>
  </div>

<% end %>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap" %>

