<h1>Coffee Voucher</h1>
	
<p>From: <%=@coffee_gift.giver.username%></p>
<p>To: <%=@coffee_gift.receiver.username%></p>

<p>Good for one <%=@coffee_gift.name%> at <%=@cafe.name%></p>

<p>Pick up at: <%=@cafe.address %></p>



