<hr>
<div class="row">
  <div class="small-12 medium-9 medium-centered columns">
    <ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#charitable">Charitable Gifts(<%=@charitable_gifts.count%>)</a>
        <div id="charitable" class="content active">
          <% @charitable_gifts.each do |gift| %>
            <ul class="vcard">
              <li class="fn"><%= gift.name %> </li>
              <li class="locality"><%= form_for gift do |f| %>
              <%= f.submit "redeem" %>
              <% end%></li>
            </ul>
            <%end%>
        </div>
    </li>

    <li class="accordion-navigation">
    <a href="#search">Unredeemed Gifts(<%=@unredeemed_coffee_gifts.count%>)</a>
        <div id="search" class="content active">
           <%= form_tag(@cafe, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Redemption Codes" %>
            <% end %>
        </div>
    </li>
</ul>


    <h3 class="subheader">Unredeemed Gifts</h3>
    <ul>
      <% @unredeemed_coffee_gifts.each do |gift| %>
      <li>
        <% if gift.receiver %>
        <%= form_for gift do |f| %>
        <%= f.submit "redeem" %>
        <% end%>
        <b>Receiver</b>:<%= gift.receiver.username %>...
        <% else%>
        <b>Receiver</b>:<%= gift.phone %>(unregistered user)
        <%end%>
        Drink: <%=gift.name %>...<b>Secret Redemption Code</b>: <%= gift.redemption_code %></li>
        <%end%>
      </ul>

      <hr>

    </div>
  </div>
