<div id="cafe_profile" class="row">
  <div class="small-12 medium-9 medium-centered columns">
    <ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#charitable">Charitable Gifts (<%=@charitable_gifts.count%>)</a>
        <div id="charitable" class="content">
          <% @charitable_gifts.each do |gift| %>
            <ul class="vcard">
              <li class="fn"><%= gift.name %> </li>
              <br>
              <li class="locality"><%= form_for gift do |f| %>
              <%= f.submit "redeem" %>
              <% end%></li>
            </ul>
            <%end%>
        </div>
    </li>

    <li class="accordion-navigation">
    <a href="#search-wrapper">Unredeemed Gifts (<%=@unredeemed_coffee_gifts.count%>)</a>
        <div id="search-wrapper" class="content">
           <%= form_tag(@cafe, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Redemption Codes" %>
            <% end %>
            <br>
            <div id= "search-results"></div>
        </div>
        </li>
    </ul>

      <hr>
    </div>
  </div>

<input type="hidden" value="<%=@cafe.id%>" id="cafe_id">
