<div class="row">
  <div class="small-12 medium-6  columns">
    <h2 class="subheader">Address</h2>
    <ul class="vcard">
      <li><%=@cafe.address%></li>
    </ul>
    <div class="show-for-medium-up">
      <div style="height:350px;width:100%" id="map"></div>
      <input id="address" type="hidden" value="<%=@cafe.address%>">
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <h2 class="subheader">Select a Menu Item</h2>
    <br><br><br>
    <ul class="accordion" data-accordion role="tablist">

      <% @cafe.menu_items.each_with_index do |item, i| %>
      <% i += 1 %>

      <li class="accordion-navigation">
        <a href="#panel<%=i%>d" role="tab" id="panel<%=i%>d-heading" aria-controls="panel<%=i%>d" class="gift-form-dropdown menu-item-id-<%=item.id%> cafe-id-<%=@cafe.id%>"><%= render partial: "menu_items/display_item" ,locals: {menu_item: item} %></a>
        <div id="panel<%=i%>d" class="gift-form content" role="tabpanel" aria-labelledby="panel<%=i%>d-heading">

        </div>
      </li>

      <%end%>

    </ul>
    <br>

