<div class='row'>
  <div class='small-12 columns'>
    <h1>All Cafes</h1>
  </div>
</div>

<div class='row'>
  <%= search_form_for @q do |f| %>
  <div class="small-12 medium-10 columns">
    <%= f.search_field :name_cont, :placeholder => 'Cafe Name' %>
  </div>
  <div class="small-12 medium-2 columns">
    <%= f.submit %>
  </div>
  <% end %>
</div>

<div class='row'>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
    <% @cafes.each do |cafe| %>
    <li><figure>
      <img src="http://i.dailymail.co.uk/i/pix/2014/08/05/1407225932091_wps_6_SANTA_MONICA_CA_AUGUST_04.jpg" alt="The Pulpit Rock" />
      <figcaption>
        <h4><%= cafe.name %></h4>
        <span><%= cafe.address %></span>
        <br>
        <%= link_to 'select this cafe', cafe %>
      </figcaption>
    </figure></li>
    <%end%>
  </ul>
</div>

