<div class='show-for-medium-up'>
<div id="main-img">  
    <section id="logo-text">
      <p id="logo-title">mojoe</p>
      <p id="logo-subtitle">Send coffee to your friends</p>
    </section>
  <ul class="example-orbit" data-orbit>
    <li>
      <%= image_tag "cafe.jpg", class:"banner"%>
      <div class="orbit-caption">
        Step 1. Choose a Cafe
      </div>
    </li>
    <li class="active">
      <%= image_tag "coffee.jpg", class:"banner"%>
      <div class="orbit-caption">
       Step 2. Buy a cup of coffee for a friend
      </div>
    </li>
    <li>
      <%= image_tag "barista.jpg", class:"banner"%>
      <div class="orbit-caption">
        Step 3. Your friend gets to pick up the coffee from the cafe :)
      </div>
    </li>
  </ul>
</div>  
</div>


<div class="row">
  <div class='small-12 columns tags-topbar'>
    <%= link_to "All", root_url, class: "tag-container"%>
    <%= link_to "The Bronx", cafes_borough_path, class: "tag-container"%>
    <%= link_to "Brooklyn", cafes_borough_path, class: "tag-container"%>
    <%= link_to "Manhattan", cafes_borough_path, class: "tag-container"%>
    <%= link_to "Queens", cafes_borough_path, class: "tag-container"%>
    <%= link_to "Staten Island", cafes_borough_path, class: "tag-container"%>
  </div>
</div>

<div class='row'>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 cafes-container">
    <%= render @cafes %>
  </ul>
</div>










