<div class='show-for-medium-up'>
    <section id="logo-text">
      <p id="logo-title">mojoe</p>
      <p id="logo-subtitle">Send coffee to your friends!</p>
    </section>
  <div id="main-img">  
    <%= image_tag "coffee.jpg", class:"banner"%>
  </div>  
</div>


<div class="row">
  <div class='small-12 columns tags-topbar'>
    <%= link_to "All", root_url, class: "tag-container"%>
    <%= link_to "The Bronx", cafes_borough_path, class: "tag-container"%>
    <%= link_to "Brooklyn", cafes_borough_path, class: "tag-container"%>
    <%= link_to "Manhattan", cafes_borough_path, class: "tag-container"%>
    <%= link_to "Queens", cafes_borough_path, class: "tag-container"%>
    <%= link_to "Staten Island", cafes_borough_path, class: "tag-container"%>
  </div>
</div>

<div class='row'>
  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 cafes-container">
    <%= render @cafes %>
  </ul>
</div>










