<div class='show-for-medium-up'>
  <header class="video-banner">
      <div class="video-banner">
         <section id="logo-text">
          <p id="logo-title">mojoe</p>
          <p id="logo-subtitle">Send coffee to your friends!</p>
        </section>
          <video autoplay loop muted>
          <source src="<%= asset_path('coffee_montage.mp4') %>" type="video/mp4">
          </video>
      </div>
  </header>
</div>

  <div class="row">

      <div class='small-12 medium-10 medium-offset-1 columns tags-topbar'>
        <%= link_to "All", root_url, class: "tag-container"%>
        <%= link_to "The Bronx", cafes_borough_path, class: "tag-container"%>
        <%= link_to "Brooklyn", cafes_borough_path, class: "tag-container"%>
        <%= link_to "Manhattan", cafes_borough_path, class: "tag-container"%>
        <%= link_to "Queens", cafes_borough_path, class: "tag-container"%>
        <%= link_to "Staten Island", cafes_borough_path, class: "tag-container"%>

      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 cafes-container">
        <%= render @cafes %>
      </ul>

      </div>

 </div>










