<div class="row">
  <div class="small-12 columns">
    <h1><%=@cafe.name%></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= cl_image_tag(@cafe.picture, :width => 1000, :height => 400, :crop => :fill) %>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
      <% if @cafe.owner?(current_cafe) %>
      <div class="search">
        <%= form_tag(@cafe, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Redemption Codes" %>
        <%= submit_tag "Search" %>
        <% end %>
      </div>

    <div class="row">
      <div class="small-12 medium-9 medium-centered large-6 large-centered columns">
        <br>
        <h2 class="subheader">Menu Items</h2>
          <ul class="no-bullet">
            <%= render @menu_items %>
          </ul>
        <hr>
          <h3 class="subheader">Add a new item</h3>
            <%= render partial:"menu_items/new", locals:{menu_item: @menu_item, cafe: @cafe} %>
        <hr>
          <h3 class="subheader">Unredeemed Gifts</h3>
            <ul>
              <% @unredeemed_coffee_gifts.each do |gift| %>
                <li>
                <% if gift.receiver %>
                  <%= form_for gift do |f| %>
                    <%= f.submit "redeem" %>
                  <% end%>
                  <b>Receiver</b>:<%= gift.receiver.username %>...
                <% else%>
                  <b>Receiver</b>:<%= gift.phone %>(unregistered user)
                <%end%>
                Drink: <%=gift.name %>...<b>Secret Redemption Code</b>: <%= gift.redemption_code %></li>
              <%end%>
            </ul>

            <hr>
          <h3 class="subheader">Redeemed Gift Count: <%= @cafe.redeemed_coffee_gifts.count %></h3>
      </div>
    </div>
    <% else %>
<hr>
      <div class="row">
        <div class="small-12 medium-6  columns">
            <h2 class="subheader">Address</h2>
            <ul class="vcard">
              <li><%=@cafe.address%></li>
            </ul>
            <div class="show-for-medium-up">
                <div style="height:350px;width:100%" id="map"></div>
                <input id="address" type="hidden" value="<%=@cafe.address%>">
            </div>
        </div>
          <div class="small-12 medium-6 columns">
            <h2 class="subheader">Menu Items</h2>
            <br><br><br>
            <% @cafe.menu_items.each do |item| %>
            <ul class="accordion" data-accordion>
              <li class="accordion-navigation">
              <a><%=item.name%>......$<%=item.price%></a>
              </li>
            </ul>
            <%end%>
            <br>
            <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
        <%= link_to "Buy coffee for a friend", new_cafe_coffee_gift_path(@cafe), :class=>"button expand" %>
        </div>
      </div>




