<h1><%=@cafe.name%></h1>


<% if @cafe.owner?(current_cafe) %>
  <h2>Menu Items</h2>

	<ul>
		<%= render @menu_items %>
	</ul>

	<h3>Add a new item</h3>
		<%= render partial:"menu_items/new", locals:{menu_item: @menu_item, cafe: @cafe} %>

  <h3>Unredeemed Gifts</h3>
    <ul><% @cafe.unredeemed_coffee_gifts.each do |gift| %>
      <li><b>Receiver</b>: <%= gift.receiver.username %>... Drink: <%=gift.name %>...<%= form_for gift do |f| %><%= f.submit "redeem" %><% end%>
      <%end%>
    </ul>

  <h3>Redeemed Gift Count: <%= @cafe.redeemed_coffee_gifts.count %></h3>

<% else %>
  <h2>Menu Items</h2>

	<ul>
		<%= render partial:"menu_items/display_item", collection: @menu_items, as: :menu_item %>
	</ul>

	<%= link_to "Buy coffee for a friend", new_cafe_coffee_gift_path(@cafe) %>
<% end %>
