<h1><%=@cafe.name%></h1>

<h2>Menu Items</h2>

<% if @cafe.owner?(current_cafe) %>

	<ul>
		<%= render @menu_items %>
	</ul>

	<h3>Add a new item</h3>
		<%= render partial:"menu_items/new", locals:{menu_item: @menu_item, cafe: @cafe} %>

<% else %>
	<ul>
		<%= render partial:"menu_items/display_item", collection: @menu_items, as: :menu_item %>
	</ul>

	<%= link_to "Buy coffee for a friend", new_cafe_coffee_gift_path(@cafe) %>
<% end %>	
