<div class="row">
  <div class="small-12 columns">
    <h1><%=@cafe.name%></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div style="height:400px;width:100%" id="map"></div>
    <input id="address" type="hidden" value="<%=@cafe.address%>">
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
      <% if @cafe.owner?(current_cafe) %>

    <div class="row">
      <div class="small-12 medium-9 medium-centered large-6 large-centered columns">
        <br>
          <h2 class="subheader">Change Cafe Picture</h2>
          <br>
          <%= form_for(:cafe, method: :put, url: cafe_path(@cafe)) do |f|%>
            <%= f.hidden_field(:picture_cache)%>
            <div class="upload"><span id="upload_display" class="label">No File Chosen</span><%= f.file_field(:picture, :id=>"upload_input")%></div>
            <br>
            <%= f.submit "Upload Picture", :class => "button tiny round" %>
          <%end%>
          <hr>
        <h2 class="subheader">Menu Items</h2>
          <ul class="no-bullet">
            <%= render @menu_items %>
          </ul>
        <hr>
          <h3 class="subheader">Add a new item</h3>
            <%= render partial:"menu_items/new", locals:{menu_item: @menu_item, cafe: @cafe} %>
        <hr>
          <h3 class="subheader">Unredeemed Gifts</h3>
            <ul>
              <% @cafe.unredeemed_coffee_gifts.each do |gift| %>
                <li>
                <% if gift.receiver %>
                  <%= form_for gift do |f| %>
                    <%= f.submit "redeem" %>
                  <% end%>
                  <b>Receiver</b>:<%= gift.receiver.username %>...
                <% else%>
                  <b>Receiver</b>:<%= gift.phone %>(unregistered user)
                <%end%>
                Drink: <%=gift.name %>...<b>Secret Redemption Code</b>: <%= gift.passphrase %></li>
              <%end%>
            </ul>

            <hr>
          <h3 class="subheader">Redeemed Gift Count: <%= @cafe.redeemed_coffee_gifts.count %></h3>
      </div>
    </div>
    <% else %>
      <h2 class="subheader">Menu Items</h2>
      <ul>
        <%= render partial:"menu_items/display_item", collection: @menu_items, as: :menu_item %>
      </ul>

      <%= link_to "Buy coffee for a friend", new_cafe_coffee_gift_path(@cafe) %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false&callback=initMap" %>




