<div class="row">
	<div class="small-12 medium-9 medium-centered large-6 large-centered columns">
		<br>
		<h1>User Login</h1>
		<%= form_for(:user_session, url: users_sessions_path) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email, value: @user.email%>
		<%= flash[:auth_error] %>

		<%= f.label :password %>
		<%= f.password_field :password%>
		<%= flash[:password_error] %>

		<%= f.submit "Login", :class=>"button round" %>
		<% end %>

		<p>New user? <%= link_to "Register now!", register_path %></p>


	</div>
</div>
