<nav class="header-nav">
  <% if user_logged_in? %>
    <%= link_to "Profile", profile_path %>
    <%= link_to "Log Out", logout_path, method: :delete %>
  <% elsif cafe_logged_in? %>
    <%= link_to "Profile", cafes_profile_path %>
    <%= link_to "Log Out", cafes_logout_path, method: :delete %>
  <% else %>
    <%= link_to "Sign Up As User", register_path, class: "button" %>
    <%= link_to "Log In As User", login_path, class: "button" %>
    <%= link_to "Log In As Cafe", cafes_login_path, class: "button" %>
  <% end %>
</nav>
