<nav class="header-nav">
  <% if user_logged_in? %>
    <%= link_to "Profile", profile_path %>
    <%= link_to "Log Out", logout_path, method: :delete %>
  <% elsif cafe_logged_in? %>
    <%= link_to "Profile", cafes_profile_path %>
    <%= link_to "Log Out", cafes_logout_path, method: :delete %>
  <% else %>
    <%= link_to "Register", "#modal", class: "button", id: "modal_trigger" %>
    <%= link_to "Log In", login_path, class: "button" %>
    <%= link_to "Cafe Log In", cafes_login_path, class: "button" %>
  <% end %>
</nav>

<div id="modal" class="popupContainer" style="display:none">
  <header class="popupHeader">
    <span class="header_title">Register</span>
    <span class="modal_close"><i class="fa fa-times"></i></span>
  </header>  

    <section class="popupBody">
      <div class="user_register">
      <%= form_for(User.new) do |f| %>
      <p> Username:</br> <%= f.text_field :username%> </p>
      <p> Email:</br> <%= f.text_field :email%> </p>
      <p> Phone: </br> <%= f.text_field :phone%> </p>
      <p> Password:</br> <%= f.password_field :password%></p>
      <%= f.submit :Register %>
    <% end %>
    </div>
<!--       <p>Already a member? Log in</p> -->
    </section>
</div>


