<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <!-- <title>CoffeeMates</title> -->

    <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if user_logged_in? %>
      <%= link_to "Profile", profile_path %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% elsif cafe_logged_in? %>
      <%= link_to "Profile", cafes_profile_path %>
      <%= link_to "Log Out", cafes_logout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up As User", register_path, class: "button" %>
      <%= link_to "Log In As User", login_path, class: "button" %>
      <%= link_to "Log In As Cafe", cafes_login_path, class: "button" %>
    <% end %>

    <%= yield %>

  </body>
</html>
