<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "coffee friends" %></title>

  <%= include_gon %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application"  %>
  <%= favicon_link_tag("coffee_logo.png") %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Quicksand:400,300,700|Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js" %>
</head>

<body>
  <%= render "layouts/header" %>
  <%= render "welcome/register" %>
  <%= render "welcome/login" %>
  <%= yield %>
  <%= render "layouts/footer" %>
</body>
</html>
